@font-face {
    font-family: 'YaHei Monaco Hybird';
    src: url('https://github.com/tanningzhong/YaHeiMonacoHybird/blob/master/YaHeiMonacoHybird.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'YaHei Monaco Hybird', Arial, Helvetica, sans-serif;
}